{% extends 'payroll_app/base.html' %}

{% block header %}
<nav>
    <a href="{% url 'employees' %}">Employees</a>
    <a href="{% url 'payslips' %}">Payslips</a>
    <a href="{% url 'logout' %}">Logout</a>
</nav>
{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    
    <div class="card p-4 shadow" style="width: 400px;">
        
        <!-- Message -->
        {% if message %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endif %}

        <!-- Header -->
        <h3 class="text-center mb-4">Update Employee</h3>

        <!-- Form -->
        <form method="POST" action="{% url 'update_employee' pk=employee.pk%}">{% csrf_token %}

            <!-- Name -->
             <div class="mb-3">
                <label class="form-label">Name (Letters Only)</label>
                <input type="text" name="name" class="form-control" value="{{ employee.name }}" maxlength="20" pattern="[A-Za-z\s]+" required>
            </div>

            <div class="mb-3">
                <label class="form-label">ID Number (6 digits)</label>
                <input type="text" name="id_number" class="form-control" value="{{ employee.id_number }}" pattern="\d{6}" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" value="{{ employee.password }}" maxlength="20" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Rate</label>
                <input type="number" step="0.01" name="rate" class="form-control" value="{{ employee.rate }}" min="0" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Allowance (Optional)</label>
                <input type="number" step="0.01" name="allowance" class="form-control" value="{{ employee.allowance }}" min="0">
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-success">Update Employee</button>
            </div>

        </form>

    </div>

</div>

{% endblock %}